<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StandUp-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D07ED4C223AA4F0000E7712A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07ED4DB23AA4F0600E7712A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D07ED4E623AA4F0600E7712A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
